.ticket-buyer-container {
  max-width: 500px; /* Decrease max-width */
  margin: 30px auto; /* Decrease margin */
  padding: 15px; /* Decrease padding */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #1F4068;
  color: #F7F7FF;
  position: relative;
}

.ticket-buyer-container .header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px; /* Decrease margin */
}

.ticket-buyer-container .train-icon {
  width: 80px; /* Decrease width */
  height: 80px; /* Decrease height */
  margin-right: 15px; /* Decrease margin */
}

.ticket-buyer-container .ticket-buyer-title {
  font-size: 1.6rem; /* Decrease font size */
}

.ticket-buyer-container .ticket-buyer-form {
  display: flex;
  flex-direction: column;
}

.ticket-buyer-container .form-group {
  margin-bottom: 20px; /* Decrease margin */
}

.ticket-buyer-container label {
  display: block;
  font-size: 16px; /* Decrease font size */
  margin-bottom: 8px; /* Decrease margin */
  color: #A7C5EB;
}

.ticket-buyer-container input[type="text"] {
  width: calc(100% - 20px); /* Adjust width */
  height: 10px; /* Decrease height */
  padding: 10px; /* Decrease padding */
  font-size: 17px; /* Decrease font size */
  border: 2px solid #64B6AC;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease, font-size 0.3s ease;
}

.ticket-buyer-container input[type="text"]:focus {
  outline: none;
  border-color: #45ADA8;
  font-size: 10px; /* Increase font size */
}

.ticket-buyer-container .btn {
  width: 50%;
  margin: 0 auto;
  padding: 8px; /* Decrease padding */
  border: none;
  border-radius: 6px;
  background-color: #45ADA8;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ticket-buyer-container .btn:hover {
  background-color: #2A9D8F;
}

.ticket-buyer-container .irctc-stamp {
  position: absolute;
  bottom: 5px; /* Decrease distance from bottom */
  right: 5px; /* Decrease distance from right */
  width: 40px; /* Decrease width */
  height: auto;
}
