

.hero {
    text-align: center;
    padding: 50px 0;
  }
  
  .hero-title {
    font-size: 4rem;
    margin-bottom: 20px;
    color: hsl(0, 13%, 91%);
  }
  
  .hero-text {
    font-size: 1.6rem;
    margin-bottom: 40px;
    color: #e9e8ec;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #595b5b; /* Matching background color */
    color: #300303; /* Matching text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3eb2c1;
}