.features {
  margin-top: 30px; /* Decrease top margin */
  text-align: center;
  background-color: #387bc1;
  padding: 30px 0; /* Decrease top and bottom padding */
}

.features-title {
  font-size: 2rem; /* Decrease font size */
  color: #FF6B6B;
}

.features-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center-align the items horizontally */
}

.feature-item {
  font-size: 1rem; /* Font size */
  margin: 10px; /* Margin around items */
  padding: 10px 20px; /* Padding */
  border: 2px solid #FF6B6B; /* Border */
  border-radius: 5px; /* Border radius */
  background-color: #268ebf; /* Background color */
  transition: transform 0.3s ease; /* Transition effect */
  position: relative; /* Position relative for pseudo-element */
}



.feature-item:hover {
  transform: translateY(-5px); /* Hover effect */
}
